<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Connexa">
        <activity
            android:name=".feature.auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".feature.auth.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".feature.notifications.NotificationInboxActivity"
            android:exported="false" />
        <activity
            android:name=".feature.assistant.AssistantActivity"
            android:exported="false" />
        <activity
            android:name=".feature.organizer.OrganizerEventEditorActivity"
            android:exported="false" />
        <activity
            android:name=".feature.organizer.OrganizerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".feature.events.EventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".feature.events.EventFeedActivity"
            android:exported="false" />
        <activity
            android:name=".feature.calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".feature.foundation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
